<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CM_Assist.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CM_Assist.Properties.Settings>
            <setting name="version" serializeAs="String">
                <value>1.0.0</value>
            </setting>
            <setting name="technician" serializeAs="String">
                <value>R.A.V</value>
            </setting>
            <setting name="partorder" serializeAs="String">
                <value>11066</value>
            </setting>
            <setting name="isChkDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isChkQR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isChkInj" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isChkTech" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="copies" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="configuration" serializeAs="String">
                <value>True</value>
            </setting>
        </CM_Assist.Properties.Settings>
    </userSettings>
</configuration>